body, html {
    /*height: 100%;*/
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    background-color: #f2f2f2;
}

/** 位置 **/
#place {
    position: absolute;
    z-index: 2;
    margin: 10px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px 10px;
    -webkit-border-radius: 8px;
}

#place a {
    color: #ffffff
}

#place i {
    padding-right: 3px;
    color: #f55a45
}

/** 轮播图 **/
.swiper-container {
    width: 100%;
    height: 200px;
}

.swiper-container img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #ffffff;
}

.swiper-pagination-bullet-active {
    background: #f55843;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 4px;
}

/** 导航栏 **/
.weui-tabbar {
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.weui-tabbar__label {
    /*color: #000000;*/
    font-size: 12px;
}

.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #f45844;
}

.weui-tabbar__item.weui-bar__item--on .weui-tabbar__icon > i, i.weui-tabbar__icon {
    color: #f45844;
}

.placeholder {
    margin: 5px;
    padding: 0 10px;
    /*background-color: #ebebeb;*/
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    /*color: #cfcfcf;*/
}

a:visited {
    color: #000000
}

a:link {
    color: #000000
}

/*.demos-title {*/
/*text-align: center;*/
/*font-size: 34px;*/
/*color: #3cc51f;*/
/*font-weight: 400;*/
/*margin: 0 15%;*/
/*}*/

/*.demos-sub-title {*/
/*text-align: center;*/
/*color: #888;*/
/*font-size: 14px;*/
/*}*/

/*.demos-header {*/
/*padding: 35px 0;*/
/*}*/

/*.demos-content-padded {*/
/*padding: 15px;*/
/*}*/

/*.demos-second-title {*/
/*text-align: center;*/
/*font-size: 24px;*/
/*color: #3cc51f;*/
/*font-weight: 400;*/
/*margin: 0 15%;*/
/*}*/